<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tools.radio.hearthstonepropertymanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".contact"
            android:label="@string/contactString"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".buy"
            android:label="@string/purchaseString"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sell"
            android:label="@string/sell"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".rent"
            android:label="@string/rent"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".rent_search"
            android:label="@string/rent"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".news"
            android:label="@string/news"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".seal"
            android:label="@string/waxLabel"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
