<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tools.radio.hearthstonepropertymanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activitys.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.contact.contact"
            android:label="@string/contactString"
            android:parentActivityName=".Activitys.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.buy.buy"
            android:label="@string/buy"
            android:parentActivityName=".Activitys.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.sell.sell"
            android:label="@string/sell"
            android:parentActivityName=".Activitys.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Rent.rent"
            android:label="@string/rent"
            android:parentActivityName=".Activitys.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Rent.rent_search"
            android:label="@string/rent"
            android:parentActivityName=".Activitys.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.news.news"
            android:label="@string/news"
            android:parentActivityName=".Activitys.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.contact.seal"
            android:label="@string/waxLabel"
            android:parentActivityName=".Activitys.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activitys.AboutUs.AboutUsActivity"

            android:label="@string/AboutUs"
            android:parentActivityName=".Activitys.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>